/* how to make circle https://www.w3schools.com/howto/howto_css_circles.asp*/

.circle {
    
    color: white;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    padding: 5px 20px;
    font-size: 65%;
    }

.circle:hover{
    background-color: gray;
    
}